:root {
  --dk-orange: #D13711;
  --lt-orange: #FFDAC0;
  --white-orange: #FFF4ED;
  --dk-blue: #2A324B;
}

html {
  font-family: 'Mina', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.body {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  background-color: var(--dk-orange);
  color: var(--lt-orange);
  padding: 0.75em 0.5em 0.5em;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.content-and-footer {
  overflow-y: auto;
  flex: 1;
}

.header-portrait {
  margin: 0 1em 0 0;
  height: 1.5em;
  border-radius: 50%;
}

.hide {
  display: none;
}

.bars {
  padding: 0.2em 0.2em 0;
  margin-right: 1em;
}
.bars:hover {
  background-color: var(--lt-orange);
  color: var(--dk-orange);
  border-radius: 0.3em;
  cursor: pointer;
}

.heading {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.profile-link {
  color: var(--lt-orange);
  text-decoration: none;
}

.spacer {
  flex: 1;
}

.nav-bar {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link, .nav-link-direct{
  display: block;
  margin: 0.25em;
  text-decoration: none;
  padding: 0.5em;
  background-color: var(--dk-orange);
  color: var(--lt-orange);
  font-weight: bold;
  transition: background-color 400ms;
}
.nav-link:hover, .nav-link:active, .nav-link-direct:hover, .nav-link-direct:active {
  background-color: var(--white-orange);
  color: var(--dk-orange);
}

.nav-link-focus{
  background-color: var(--white-orange);
  color: var(--dk-orange);
}

.nav-bar-show {
  display: block;
  margin: 0;
}

.about {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lt-orange);
  color: var(--dk-blue);
}

.about-contents {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  padding: 0.5em 0.25em;
}

.about-portrait {
  margin: 0 2% 2% 2%;
  max-width: 10em;
  width: 40%;
  border-radius: 50%;
  text-align: center;
}

.about-text {
  text-align: center;
  width: 90%;
  max-width: 35em;
  line-height: 1.5em;
}

.about-heading {
  font-size: 1.5rem;
  padding: 1em;
  margin: 0;
}

.about-description {
  padding: 0;
  margin-top: 0;
}

.divider {
  background-color: var(--dk-blue);
  border-color: var(--dk-blue);
  height: 0.1em;
  width: 80%;
  margin: 1.5em auto;
}

.divider-orange {
  background-color: var(--dk-orange);
  border-color: var(--dk-orange);
}

.about-socialIcons {
  font-size: 2rem;
  word-spacing: 0.5em;
}

.about-link, .about-link:visited {
  color: var(--dk-blue);
  text-decoration: none;
  transition: color 0s 100ms;
}
.about-link:hover, .about-link:active {
  color: var(--dk-orange);
}

.projects {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dk-orange);
  text-align: center;
  padding: 50px 5px;
}

.projects-heading {
  text-transform: uppercase;
  font-size: 1.75rem;
}

.projects-list {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.tile {
  width: 20em;
  border: 0.15em solid var(--dk-orange);
  margin: 2em;
  transition: border 0s 100ms;
  cursor: pointer;
}
.tile:hover {
  border: 0.15em solid var(--dk-blue);
}

figure {
  padding: 0;
  margin: 0;
}

.tile-image {
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  border-bottom: 0.15em solid var(--dk-orange);
  transition: border-bottom 0s 100ms;
}

.tile:hover .tile-image {
  border-bottom: 0.15em solid var(--dk-blue);
}

.tile-caption {
  padding: 1em;
  font-size: 1.1rem;
  transition: color 0s 100ms;
}

.tile:hover .tile-caption {
  color: var(--dk-blue);
}

.contact {
  min-height: 100%;
  text-align: center;
  background-color: var(--lt-orange);
  color: var(--dk-blue);
  padding: 50px 5px;
}

.contact-heading {
  text-transform: uppercase;
  font-size: 1.75rem;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  margin-top: 2.5em;
  text-align: left;
}

.contact-form {
  width: 70%;
  margin: 20px 5%;
}

.contact-input {
  font-size: inherit;
  background-color: var(--dk-orange);
  color: var(--lt-orange);
  font-family: inherit;
  width: 100%;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.contact-submit {
  width: auto;
}

.contact-input:focus{
  border: 3px solid var(--dk-blue);
  outline: none;
}

.contact-input::placeholder{
  color: var(--lt-orange);
  opacity: 0.8;
}

.contact-input::-ms-input-placeholder{
  color: var(--lt-orange);
  opacity: 0.8;
}

.contact-description {
  width: 50%;
  margin: 1em 5%;
  padding: 0;
  line-height: 1.5em;
}

.contact-link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.footer1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  margin: 50px 0px;
  text-align: left;
}

.footer1-box {
  width: 15em;
  min-width: 30%;
  margin: 20px 5%;
  padding: 20px;
  text-align: center;
  color: var(--dk-orange);
  border: 2px solid;
}

.footer1-heading {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer1-devicons, .footer1-socialicons, .modal-devIcon-container {
  font-size: 1.5rem;
  word-spacing: 0.5rem;
  line-height: 2.5rem;
}

.footer1-socialicons {
  margin-top: 1em;
}

.footer2 {
  background-color: var(--dk-orange);
  color: var(--lt-orange);
  padding: 10px;
  margin: 0;
}
.devicon {
  position: relative;
}
.tooltip {
  position: absolute;
  top: 125%;
  left: 50%;
  font-size: 1rem;
  font-family: 'Mina', sans-serif;
  background-color: white;
  color: var(--dk-orange);
  pointer-events: none;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  text-align: center;
}

.modal-container {
  position: absolute;
  top: 7.5%;
  left: 5%;
  width: 90%;
  height: 85%;
  background: #FFF;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 200ms ease-in, transform 300ms;
  pointer-events: auto;
}
.modal-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dk-blue);
  flex-shrink: 0;
}
.modal-image {
  max-width: 100%;
  max-height: 100%;
}
.modal-text-container {
  background: #FFF;
  color: var(--dk-blue);
  padding: 0 1em;
  overflow-y: auto;
}
.modal-name {
  font-size: 1.5rem;
  text-align: center;
  margin: 1em;
  font-weight: bold;
}
.modal-links {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.5em;
}
.modal-link {
  text-decoration: none;
  color: var(--dk-orange);
  font-weight: bold;
  font-size: 1.1rem;
}
.modal-link:hover {
  text-decoration: underline;
}
.modal-list {
  margin: 0;
}
.modal-item {
  margin: 0.5em;
}

.modal-devIcon-container {
  letter-spacing: 0.5em;
  text-align: center;
  color: var(--dk-orange);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dev-icon-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 3rem;
}

.dev-icon {
  transform: translateX(0.35rem);
}

.dev-icon-text {
  letter-spacing: initial;
  font-size: 0.5rem;
  line-height: initial;
}

.modal-up, .modal-down {
  position: absolute;
  left: 50%;
  width: 2em;
  height: 2em;
  background: var(--dk-orange);
  color: var(--white-orange);
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 300ms;
  text-align: center;
}

.modal-close {
  position: absolute;
  left: 100%;
  bottom: 100%;
  width: 2em;
  height: 2em;
  background: var(--dk-orange);
  color: var(--white-orange);
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 300ms;
  transform: translate(-100%, -25%);
}
.fa-times {
  transform: translateX(15%);
}
.modal-close:hover {
  transform: scale(1.5) translate(-62.5%, -18.75%);
}

.modal-up {
  top: 0;
  transform: translate(-50%, -125%);
}

.modal-up:hover {
  transform: scale(1.5) translate(-32.5%, -93.75%);
}

.modal-down {
  top: 100%;
  transform: translate(-50%, 25%);
}

.modal-down:hover {
  transform: scale(1.5) translate(-32.5%, 18.75%);
}

.cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: var(--dk-blue);
}

.above {
  transform: translateY(-100%);
}

.below {
  transform: translateY(100%);
}

.center {
  transform: translateY(0);
}

.hide {
  opacity: 0;
  pointer-events: none;
}
.pointer-fix {
  pointer-events: none;
}

@media screen and (min-width: 600px){
  html {
    font-size: 20px;
  }
  .header-portrait {
    height: 2.5em;
  }
  .nav-bar {
    display: block;
    position: relative;
    margin: 0 1em;
  }
  .nav-list {
    display: flex;
  }
  .nav-link, .nav-link-direct {
    margin-right: 5px;
    background-color: var(--lt-orange);
    color: var(--dk-orange);
  }
  .nav-link:hover, .nav-link:active, .nav-link-direct:hover, .nav-link-direct:active {
    background-color: var(--white-orange) !important;
    color: var(--dk-orange) !important;
  }
  .nav-link-focus{
    background-color: var(--white-orange);
  }
  #contactlink{
    background-color: var(--lt-orange);
    color: var(--dk-orange);
  }
  .bars {
    display: none;
  }
  .contact-form {
    width: 50%;
  }
  .contact-description {
    width: 20%;
  }
  .modal-container {
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
  }
  .modal-image-container {
    flex-basis: 66%;
    height: 100%;
  }
  .modal-text-container {
    flex-basis: 34%;
    height: 100%;
  }
  .modal {
    flex-direction: row;
  }
  .modal-close {
    transform: translate(25%, -25%)
  }
  .modal-close:hover {
    transform: scale(1.5) translate(18.75%, -18.75%);
  }
}